.about {
  &__container {
    padding-top: 60px;
  }

  &__contents {
    max-width: 960px;
    margin: 0 auto;
  }

  &__profileContents {
    display: flex;
    @media screen and (max-width: 599px) {
      flex-direction: column;
    }
  }

  &__profileImage {
    max-width: 240px;
    @media screen and (max-width: 599px) {
      max-width: 100%;
      margin: 0 auto;
    }
  }

  &__profileText {
    @media screen and (min-width: 600px) {
      margin-left: 20px;
    }
    @media screen and (max-width: 599px) {
      margin-top: 20px;
    }
  }
}
