.header {
  &__container {
    background-color: white;
  }

  &__contents {
    display: flex;
    justify-content: space-between;
  }

  &__links {
    display: flex;
    align-items: center;
    height: 60px;
  }

  &__link {
    padding: 20px;
    &:hover {
      background-color: rgba(0, 165, 191, 0.05);
    }
  }
}
