.app {
  &__container {
    background-color: rgba(0, 165, 191, 0.05);
  }

  &__header {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 60px;
  }

  &__main {
    padding-top: 60px;
    padding-bottom: 300px;
  }
}
